<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>无标题文档</title>
  <link href="css/application.css" rel="stylesheet">
  <script src="lib/ionic/js/angular/angular.min.js"></script>
  <script type="text/javascript" src="http://cdn.bootcss.com/angular.js/1.4.0-beta.6/angular-sanitize.min.js"></script>
</head>
<body>
<div ng-app="myMode" >
  <p>在输入框中尝试输入：</p>
  <p>姓名：<input type="text" ng-model="inputname"></p>

  <input type="checkbox" ng-model="aaa">
  <select>
    <option>张三</option>
    <option ng-selected="aaa">李四</option>
  </select>

  <hello></hello>

  <div ng-controller="firstController">
    <div ng-click="run()">点击</div>
    <div ng-bind="inputname | uppercase"></div>
    <div ng-bind-template="{{text}} {{inputname | currency}}"></div>
    <div ng-bind-html="text2"></div>
    <div ng-include="url"> </div>
    <div ng-include="tpl"> </div>

    <h2>Which is your favorite?</h2>
    <label ng-repeat="name in names">
      {{name}}
      <input type="radio"
             ng-model="my.favorite"
             ng-value="name"
             id="{{name}}"
             name="favorite">
    </label>
    <div>You chose {{my.favorite}}</div>

    <p>输入过滤： </p>
    <p><input type="text" ng-model="name"></p>
    <ul>
      <li ng-repeat="p in person| filter:name | orderBy:'country':true">
        {{p.name+p.age}}
      </li>
    </ul>
    <p>输入过滤： </p>
    <p><input type="text" ng-model="name2"></p>
    <ul>
      <li ng-repeat="x in names2 | filter:name2 | orderBy:'country'">
        {{ (x.name | uppercase) + ', ' + x.country }}
      </li>
    </ul>

    {{cname}}{{cage}}
  </div>


  <script type="text/ng-template" id="tpl.html">
    Content of the template.
  </script>

  {{ 1304375948024 | date:"yyyy-MM-dd hh:mm:ss" }}
  <div ng-controller="secondController">
    {{name3}}
    <br>
    {{name4}}
    <br>
    {{name5}}
  </div>
</div>

<script type="text/javascript" src="js/controllers.js"></script>
<!--<script type="text/javascript"></script>-->
</body>
</html>
